@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --icon-hover: #000000;
}
html > *{
    font-family: "Raleway";
}
body, html{
    /* height: 100%; */
    /* width: 100%; */
}
body{
    /* background-color: var(--backgroundColour); */
}
.title{
    /* color: var(--textColour); */
    font-size: 40px;
    /* vertical-align: middle; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icons{
    position: fixed;
    top:0;
    right: 25px;
    /* transform: translate(0, 0, -50%, -50%); */

    width: 110px;
    font-size: 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: rgba(0, 0, 0, 0.15);
}
.fa-github, .fa-discord{
    color: white;
    transition: 500ms;
}
.fa-github:hover, .fa-discord:hover{
    color: var(--icon-hover);
}
